
nav .sub li {
    width: 100%;
}
/* ==========   메뉴 공통 스타일   ==========  */

/* 왼쪽 메뉴 안에 실제 메뉴들 가로 크기 조절 */
nav> div:nth-child(2)> .menu> .left> div {
    width: 40%;    
}


/* 모바일에서 오른쪽 메뉴(아무것도 없는 것) 안보이기 */
nav> div:nth-child(2)> .menu> .right {
    display: none;
}

