.fixed{
    position : fixed;
    top : 0;
    left :0;
    width:100%;
    height:100%;
}

.fixed>img{
    width:100%;
}

.layout{
    position : relative; top :0; left:0;
    width:100%;
    border : 1px solid red;
    color : white;
}

.layout > article {
    width:100%; height:1200px;
}

.layout > article.at0{
    position : fixed;top : 0; left:0;
}
.layout > article.at1{
    background: rgba(144, 179, 15, 0.5);
}

.layout > article.at2{
    background: rgba(32, 162, 51, 0.5);
}
.layout > article.at3{
    background: rgba(32, 162, 145, 0.5);
}
.layout > article.at4{
    background: rgba(136, 32, 162, 0.5);
}
.layout > article.at0 > nav{
    width : 100%; height : 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.layout > article.at0 > nav > div{
    width:10%; height: 100%;
    /* border : 1px solid white; */
    font-size: 1.5rem;
    opacity: .7;
    
    
}

.layout > article.at0 > nav > div:hover{
    font-weight: bold;
    opacity: 1;
}
.layout > article.at0 > nav > div:first-child{
    font-size: 2.5rem;
    width:18%; height:70px;
    line-height: 70px;
    margin-right: 15%;
    text-align: center;
}

.layout > article.at0 > nav > div > a{
    display : block;
    width:100%;
    height : 100%;
    color : white;
}


.at9 > .at9_msg{
    border : 1px solid white;
    width:30%;
    height :50px;
    line-height: 50px;
    margin: 0px auto;
    margin-top: 300px;
    text-align: center;
}

.at9 > .at9_number{
    width:20%; height : 70px;
    line-height:70px;
    font-size : 5rem;
    margin: 0px auto;
    text-align: center;
    font-size:5rem;
    font-family: 'PyeongChangPeace-Bold';
    color : yellow;
}
.at9 > .at9_number > small{
    font-size: 2rem;
    font-family: 'PyeongChangPeace-Bold';
}