* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  /* 수평 정렬 */
  align-items: center;
  /* 수직 정렬 */
  background: #f2f2f2;
}

header > div {
  width: 50%;
  height: 50px;
  border: 0px solid black;
  text-align: center;
  line-height: 50px;
}

header > div:nth-child(1) {
  margin-right: 10%;
  font-size: 2rem;
}

header > div:nth-child(2) {
  width: 20%;
  height: 30px;
}

header > div:nth-child(2) input {
  display: block;
  width: 100%;
  height: 100%;
}

header > div:nth-child(3) {
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #1fa135;
  color: white;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #1fa135;
}

nav div {
  width: 7%;
  height: 100%;
  border: 0px solid blue;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  color: white;
}

nav div:nth-child(1) {
  width: 70px;
  background: #128626;
}

nav div:last-child {
  width: 20%;
}

article {
  width: 100%;
  height: 900px;
}

.at0 {
}

.at0 img {
  width: 100%;
}

.at1 {
}

.box1 {
  width: 80%;
  height: 250px;
  border: 0px solid red;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box1 > ul {
  width: 30%;
  height: 100%;
  border: 1px solid green;
  margin-bottom: 100px;
}

.box1 > ul > li {
}

/* 첫 번째 ul 초록색/노랑색 */
.box1 > .kakao > li {
  height: 50%;
}

.box1 > .kakao > li:nth-child(1) {
  background: #128626;
}

.box1 > .kakao > li:nth-child(2) {
  background: yellow;
}

/* 두 번째 ul 차량 정보   */
.box1 > .info {
  background: url(../img/bg1.jpg);
  background-size: 100% 100%;
}

.box1 > .info > li {
  border: 0px solid red;
  color: white;
  width: 80%;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}

.box1 > .info > li:nth-child(1) {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid white;
}

.box1 > .info > li:nth-child(2) {
  line-height: 50px;
}

.box1 > .custmer {
  border: none;
}

.box1 > .custmer > li {
  height: 30px;
  line-height: 30px;
}

.box1 > .custmer > li:nth-child(1) {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
