.wrap>.left {
    width: 100%;
}

.left>.logo {
    top: 100%;
    left: 50%;

    margin-top: -50px;
    width: 100px;
    margin-left: -50px;
}

.wrap .imgText>div {
    position: relative;
    top: 50px;
    left: 0;
    width: 96%;

    height: 450px;
    /* border: 0px solid black; */
}

.wrap .imgText> .imgText_text {
    margin-top: -1250px;
    height:700px;
}

.wrap .imgText>.imgText_text p{
    font-size : 0.8rem;
}

.wrap  .imgText > .imgText_text p:nth-child(1){
    margin-top : 50px;
}

.wrap  .imgText > .imgText_text p:nth-child(5){
    margin-top : 30px;
}


