/* 초기화면 애니메이션 동작 */
.wrap1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: white;
  /* display: none; */
}
/* START 글자 */
.text {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);

  width: 1000px;
  height: 200px;
  font-size: 10rem;
  font-family: black Han Sans;
  display: flex;
  justify-content: center;
}
.text > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border: 0px solid blue;
  text-align: center;
  line-height: 200px;
  opacity: 0;
}
.text > li:nth-child(1) {
  left: 0;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
}
@keyframes text1_ani {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.text > li:nth-child(2) {
  left: 200px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}
.text > li:nth-child(3) {
  left: 400px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.text > li:nth-child(4) {
  left: 600px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}
.text > li:nth-child(5) {
  left: 800px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.skip {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  animation: skip_ani 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes skip_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skip:hover {
  color: red;
}

/* 메뉴 화면 박스 */
.wrap2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* 메뉴박스 (회사로고 / 삼선바) 있는 곳 */
nav {
  width: 100%;
  height: 100px;
  background: #f2f2f2;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}
nav > div {
  width: 50%;
  height: 100%;
  line-height: 100px;
}
/* 메뉴박스 (회사로고)  있는 곳 */
nav > div:nth-child(1) {
  text-indent: 10%;
}
/* 메뉴박스 (삼선바) 있는 곳 */
nav > div:nth-child(2) {
  position: relative;
  top: 0;
  left: 0;
  border: 0px solid blue;

  text-align: right;
  padding-right: 10%;
}
/* 메뉴박스 (삼선바 안에 실제 메뉴 박스) 있는 곳 */
nav > div:nth-child(2) > .menu {
  position: fixed;
  top: 100px;
  left: 0%;
  z-index: 99;

  width: 100%;
  height: 100%;
  border: 0px solid black;

  display: flex;
  justify-content: space-between;
  display: none;
}
nav > div:nth-child(2) > .menu > li {
  border: 0px solid red;
  width: 100%;
  height: 100%;
  padding: 50px;
}
nav > .bar {
  /* cursor: pointer; */
}
/* 삼선바 오버하면 실제 메뉴 박스 안 보이다가 FLEX로 보이기 */
nav > .bar:hover .menu {
  display: flex;
}
/* 실제 메뉴박스 (서브메뉴) 있는 곳 */
nav > div:nth-child(2) > .menu > .left {
  text-align: left;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #ccc;
}
/* (서브메뉴 박스들) */
nav
  > div:nth-child(2)
  > .menu
  > .left
  > div {
  width: 30%;
  line-height: 50px;
}
/* (서브메뉴 박스들)의 주메뉴 텍스트(회색표시)   */
nav
  > div:nth-child(2)
  > .menu
  > .left
  > div
  > p {
  background: #f2f2f2;
  text-align: center;
}
/* (실제 서브메뉴들로 링크(a태그)   */
nav
  > div:nth-child(2)
  > .menu
  > .left
  > div
  > div {
  text-align: left;
  font-size: 1.2rem;
  height: 30px;
  line-height: 30px;
  border: 0px solid red;
}
nav
  > div:nth-child(2)
  > .menu
  > .left
  > div
  > div
  > a {
  border: 0px solid red;
  display: block;
}

/* 아무것도 없는 곳   */
nav
  > div:nth-child(2)
  > .menu
  > .right {
}

.at0 {
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.at0 > div {
  width: 50%;
  height: 100%;
  border: 0px solid blue;
  padding-top: 100px;
  padding-left: 100px;
}
.at0 > div > p {
  border: 0px solid red;
}
.at0 > div > p:nth-child(1) {
  width: 100%;

  font-size: 3rem;
  font-family: black han sans;
  letter-spacing: 5px;
}

.at0 > div > div {
  width: 100%;
  height: 300px;
  background: #d5e3f0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 50px;
  font-size: 1.5rem;
  line-height: 50px;
}
.at1 {
  position: relative;
  top: -200px;
  left: 0;
  width: 70%;
  height: 400px;
  background: lightcoral;
  border: 0px solid red;
  overflow: hidden;
}
.at1:hover:after {
  left: 70%;
}
.at1:after {
  /* 가상요소 : 태그 없이 스타일에서 태그를 가상으로 생성 */
  position: absolute;
  top: 0;
  left: 100%;
  content: "크게보기";
  color: white;
  text-align: center;
  line-height: 400px;
  font-size: 2rem;
  width: 30%;
  height: 100%;
  background: rgba(0, 0, 0, 0.215);
  transition: all 0.5s;
}
.at1 > img {
  width: 100%;
}

.at2 {
}
.at2 > .ract {
  width: 80%;
  margin: -100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.at2 > .ract > li {
  width: 40%;
  height: 300px;
  margin: 0px auto;
  border: 1px solid black;
  margin-top: 100px;
}
