
.at0> div {
    width: 100%; height: 200px;
    padding-top: 10px;
    padding-left: 10px;
}
.at0> div:nth-child(2) {
    margin-top: -200px;
}

.at0> div> div {  
    height: 200px;  
    padding: 30px;
    font-size: 1rem;
    line-height: 50px;
}

/* 왼쪽 메뉴 안에 실제 메뉴들 가로 크기 조절 */
nav> div:nth-child(2)> .menu> .left> div {
    width: 40%;    
}


/* 모바일에서 오른쪽 메뉴(아무것도 없는 것) 안보이기 */
nav> div:nth-child(2)> .menu> .right {
    display: none;
}

.at1 {
    top: -180px;
    width: 90%; height: 200px;
}
.at1> img {
    height: 100%;
}

