body {
  background: #f2f2f2;
}

.big {
  width: 100%;
  height: 600px;
  background: url("../img/menu_bg4.jpg") no-repeat fixed;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100%;
  height: 50%;
  border: 0px solid red;
  font-size: 2rem;
  color: white;
  line-height: 100px;
  text-indent: 85%;
}

.menu:hover>.sub {
  top: 0;
  animation: sub_ani 5s;
  /* animation-delay: 1s; */
}

.menu>.sub {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: black;
  background: url(../img/menu_bg2.jpg);
  /* no-repeat fixed; */
  transition: all 0.5s;

}

@keyframes sub_ani {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.menu>.sub>li {
  width: 20%;
  height: 70px;
  margin: 30px auto;
  line-height: 70px;
  border: 0px solid white;
  text-indent: 0;
  text-align: center;
}

.menu>.sub>li:first-child {
  margin-top: 200px;
}

.menu>.sub>li>a {
  display: block;
  border: 0px solid red;
  color: white;
}

article {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.at0 {
  height: 1000px;
  border: 10px solid orange;
}


.big_title {
  height: 100px;
  line-height: 100px;
  font-size: 2.5rem;
  font-family: hy견고딕;
  border: 0px solid red
}

.small_title {
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
  border: 0px solid orange
}

.part {
  width: 50%;
  height: 100px;
  border: 0px solid black;
  margin: 50px auto;
  background: white;
}

.part li {
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: 1px slid #ccc;

}

.part li div {
  height: 100%;
  border: 0px solid red;
}

.part li div:nth-child(1) {
  width: 20%;
}

.part li div:nth-child(2) {
  width: 70%;
}

.part li div:nth-child(3) {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  line-height: 30px;
  margin-top: 35px;
}

.reserve {
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 200px;
  height: 50px;
  border: 1px solid red;
  background: #ccc;
  color: white;
  line-height: 50px;
  border-radius: 10px;
  transition: all 0.5s;
}

.reserve:hover {
  background: burlywood;
  /* overflow:hidden; */
}

.reserve ul {
  width: 100%;
  position: fixed;
  top: -330%;
  left: 0;
  border: px solid black;
  border-bottom: none;
}

.reserve ul li {
  line-height: 40px;
  color : black;
  border-bottom: 1px dashed;
}