#vid {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;

    display: none;

}
#vid video {
    width: 100%;
    min-width: 1500px;
}
#vid .skip {
    position: absolute; top: 50px; left: 80%;
    width: 100px; height: 50px; border: 1px solid white;
    text-align: center;   line-height: 50px;
    color: white; cursor: pointer;
}
.msg    { 
    position: absolute;
    top: 200px; left: -50%;
    width: 50%;
}
.msg li {
    position: relative;
    height: 70px; line-height: 70px;
    border: 0px solid white;
    color: white;    font-size: 2rem;
    opacity: 0.5; cursor: pointer;
}
.msg li:hover { opacity: 1; }
.msg .msg1 {
    animation: msg1_ani 1s;
    animation-fill-mode: forwards;
}
.msg .msg2 {
    animation: msg1_ani 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.msg .msg3 {
    animation: msg1_ani 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes msg1_ani {
    0% { left: -50%; }
    100% { left: 120%; }
}
.so {
    position: relative; top: 0; left: 0;
    width: 10%; height: 50px;
    border: 1px solid black;
    margin-left: 10%;
    text-align: center; line-height: 50px;
}
.so> p {
    width: 100%; height: 100%;
    border: 0px solid blue;
}
.so> .so_child {   /* ul */
    position: absolute; top: 0; left: 100%;
    width: 700%;      /* 가로 10%의 700%는 7배 */
    height: 1500%;    /* 높이 50px의 1500%는 750px */
    /* background: black; */
    border: 1px solid #f2f2f2;
}
.so> .so2_child {
    top: -50px;
}


.so> .so_child li {   /* ul속에 li */
    width: 100%; height: 50px;
    line-height: 50px;
    border: 1px solid blue;
    margin-bottom: 10px;
    text-align: left;
    /* padding: 30px; */
}
.so> .so_child> li:nth-child(1) {   /* ul속에 li */
    height: 500px;
}
.so> .so_child> li:nth-child(1)> img {
    width: 100%; height: 100%;
    border-radius: 15px;
}
