header {   height: 50px;   }
header> div:nth-child(1) { 
    margin-right: 2%; font-size: 1.5rem;
}
header> div:nth-child(2) { width: 40%;  }

nav div {
    width: 17%;
}
nav div:nth-child(1) {
    width: 40px;
}
nav div:last-child {
    width: 40%;
}