/* 비디오 박스 */
#vid {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;

    display: none;

}
#vid video {
    width: 100%;
    min-width: 1500px;
}
#vid .skip {
    position: absolute; top: 50px; left: 80%;
    width: 100px; height: 50px; border: 1px solid white;
    text-align: center;   line-height: 50px;
    color: white; cursor: pointer;
}
/* 비디오에 나오는 메시지 */
.msg    { 
    position: absolute;
    top: 200px; left: -50%;
    width: 50%;
}
.msg li {
    position: relative;
    height: 70px; line-height: 70px;
    border: 0px solid white;
    color: white;    font-size: 2rem;
    opacity: 0.5; cursor: pointer;
}
.msg li:hover { opacity: 1; }
.msg .msg1 {
    animation: msg1_ani 1s;
    animation-fill-mode: forwards;
}
.msg .msg2 {
    animation: msg1_ani 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.msg .msg3 {
    animation: msg1_ani 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
@keyframes msg1_ani {
    0% { left: -50%; }
    100% { left: 120%; }
}
/* 회사소개.html의 왼쪽에 있는 메뉴 */
.so {
    position: relative; top: 0; left: 0;
    width: 10%; height: 50px;
    border: 0px solid black;
    margin-left: 10%;
    text-align: center; line-height: 50px;
}
/* 회사소개.html의 왼쪽에 있는 메뉴(이름) */
.so> p {    /* 회사소개, 오시는길 공통 태그(p) */
    width: 100%;   /* 부모(so-10%) 꽉찬 크기 */
    height: 100%;
    border: 1px solid blue;
}
/* 회사소개, 오시는길 메뉴 안에 있는 박스 */
.so:hover .so_child {
    display: block;
}
.so> .so_child {   /* ul */
    position: absolute; top: 0; left: 100%;
    z-index: 3;
    width: 700%;      /* 가로 10%의 700%는 7배 */
    height: 1500%;    /* 높이 50px의 1500%는 750px */
    background: white;
    border: 1px solid #f2f2f2;
    display: none;
    margin-top: 10px;
}
/* 오시는길 (서브)박스  회사소개의 (서브)박스는 위에서 기본값으로 top: 0; 잡혀있음  */
.so> .so2_child {
    top: -50px;
}
.so> .so2_child> li> iframe {
    border-radius: 20px;
    border: 1px solid #ccc;
}


.so> .so_child li {   /* ul속에 li */
    width: 96%; height: 50px;
    line-height: 50px;
    border: 0px solid blue;
    margin-bottom: 10px;
    text-align: left;
    /* padding: 30px; */
}
.so> .so_child> li:nth-child(1) {   /* ul속에 li */
    height: 500px;
}
.so> .so_child> li:nth-child(1)> img {
    width: 100%; height: 100%;
    border-radius: 15px;
}

/* 기본으로 보여지는 so_child */
.so0_child {
    position: relative; top: -100px; left: 20%;
    z-index: 1;     /* 소개 메뉴를 오버하면 child 1, 2의 z-index가 3으로 보이려고 */
    width: 65%; 
    /* height: 800px; 높이 주지 말 것  */
    border: 0px solid black;
    border-radius: 20px;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
    /* display: none; */
    margin-top: 10px;
}
/* 기본으로 보여지는 so_child 네모칸 박스 6개 */
.so0_child li {
    width: 30%; height: 300px;
    border: 0px solid blue;
    margin-bottom: 50px;
}
/* 기본 so_child li 안에 그림 박스  */
.so0_child li> div {
    width: 100%; height: 200px;
    border-radius: 20px;
}
.so0_child li> div> img {
    width: 100%; height: 100%;
    border-radius: 20px;
}
/* 기본 so_child li 안에 그림 밑에 설명  */
.so0_child li> p {
    width: 100%; height: 50px;
    line-height: 50px;
}
/* 기본 so_child li 안에 상세보기 버튼  */
.so0_child li> .detail {
    width: 100px; height: 40px;
    margin-top: 5px;
    margin-left: 60%;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px; cursor: pointer;
}
.so0_child li> .detail:hover {
    background: #f2f2f2;
}