@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%; height: 100px;
  display: flex;
  justify-content: center;    /* 수평 정렬 */
  align-items: center;        /* 수직 정렬 */
  background: #f2f2f2;
}
header> div {
  width: 50%; height: 50px;
  border: 0px solid black;
  text-align: center; line-height: 50px;
}
header> div:nth-child(1) {
  margin-right: 10%; font-size: 2rem;
}
header> div:nth-child(2) {
  width: 20%;  height: 30px;
}
header> div:nth-child(2) input {
  display: block; width: 100%; height: 100%;
}
header> div:nth-child(3) {
  width: 50px;   height: 30px;
  line-height: 30px;
  background: #1FA135; color: white;
}


nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: #1FA135;
}

nav div {
  width: 7%;
  height: 100%;
  border: 0px solid blue;
  text-align: center;
  line-height: 50px;
border : 1px solid black ;
  color: white;
}

nav div a {
  border: 0px solid red;
  display: block;
  color: white;
}

nav div:nth-child(1) {
  width: 70px;
  background: #128626;
}

nav div:last-child {
  width: 20%;
}


.url {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 100px;
  background: yellow;
}