



article {
    width: 100%; 
}
.at0 {
    
}
.at0 img {
    width: 100%;
}
.at1 {

}
.box1 {
    width: 80%; 
    /* height: 250px; */
    border: 0px solid red;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box1> ul {
    width: 30%; height: 250px;
    border: 1px solid green;
    margin-bottom: 100px;
}
.box1> ul> li {
    
}
/* 첫 번째 ul 초록색/노랑색 */
.box1> .kakao> li {
    height: 50%;
}
.box1> .kakao> li:nth-child(1) {
    background: #128626;
}
.box1> .kakao> li:nth-child(2) {
    background: yellow;
}
/* 두 번째 ul 차량 정보   */
.box1> .info {
    background: url(../car/bg4.jpg);
    background-size: 100% 100%;
}
.box1> .info> li {
    border: 0px solid red;
    color: white;
    width: 80%; height: 30px;
    line-height: 30px;
    margin: 0 auto;
}
.box1> .info> li:nth-child(1) {
    height: 50px; line-height: 50px;
    border-bottom: 1px solid white;
}
.box1> .info> li:nth-child(2) {
    line-height: 50px;
}

.box1> .custmer {
    border: none;
}
.box1> .custmer> li {
    height: 30px; line-height: 30px;
}
.box1> .custmer> li:nth-child(1) {
    height: 50px; line-height: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.at2 {
    width: 100%; 
    background: #f2f2f2;
    text-align: center;  
    font-family: 'PyeongChangPeace-Bold';
    letter-spacing: 5px;
    word-spacing: 10px;
    margin-top: -50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.at2 p {
    height: 150px;
    line-height: 150px;
    font-size: 3rem;
}

.at3 {

}
.at3 .pum {
    width: 80%; 
    border: 0px solid green;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.at3 .pum li {
    width: 20%; height: 200px;
    border: 0px solid red;
    margin-top: 50px;
}
.at3 .pum li p {
    line-height: 40px;
}
.at3 .pum .pum_img {
    width: 30%; text-align: center;
    padding: 30px;
}
.at3 .pum .pum_img img {
    height: 100%;
}


footer {
    width: 100%; 
    /* height: 200px; */
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
footer> div {
    width: 200px; 
    height: 150px;
    border: 0px solid white;
    color: white;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
footer> div:last-child {
    margin-right: 0px;
}
footer> div> div {
    width: 100%; height: 80px;
    border: 0px solid yellow;
    text-align: center;
    line-height: 80px;
    font-size: 3rem;
    transition: all 0.5s;
}
footer> div> p {
    text-align: center;    
    line-height: 30px;
    cursor: pointer;
}
footer> div> div:hover {
    transform: scale(1.2);
    color: aqua;
}
footer> div> p:hover {
    color: red;
}