#vid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#vid video {
    width: 100%;
    min-width: 1500px;
}

#vid .skip {
    position: absolute;
    top: 50px;
    left: 80%;
    width: 100px;
    margin: 50px;
    border: 1px solid white;
    line-height: 50px;
    color: white;
    text-align: center;
    cursor: pointer;

}

.msg {
    border: 0px solid black;
    position: absolute;
    top: 200px;
    left: -50%;
    width: 50%;
}

.msg li {
    position: relative;
    height: 70px;
    border: 0px solid white;
    color: white;
    font-size: 2rem;
    line-height: 70px;
    opacity: 0.5;
}

.msg li:hover {
    opacity: 5;
}

.msg .msg1 {
    animation: msg1_ani 1s;
    animation-fill-mode: forwards;
}

.msg .msg2 {
    animation: msg1_ani 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.msg .msg3 {
    animation: msg1_ani 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes msg1_ani {
    0% {
        left: -100%;
    }

    100% {
        left: 120%;
    }
}

.so1 {
    position :relative;
    top:0;
    left : 0;
    /**
    부모를 relatovie해야 자시이 absolute 가능
**/
    width:10%;
    height:50px;
    border : 1px solid black;
    margin-left:10%;
    text-align: center;
    line-height:50px;

}
.so1> p {
    border : 1px solid blue;
    width: 100%;
    height:100%;

}
.so1 >.so1_child{
    position : absolute;
    top : 0;
    left:100%;
    width: 700%; /* 가로 10% 700% 7q배*/
    height : 1500%; 
    border: 1px solid red;
}
.so1> .so1_child> li { /* ui 속에 li */
    width : 100%;
    border : 1px solid black;
    margin: botom 10px;
    text-align: ref;
    /* padding : 30px; */
}
.so1> .so1_child> li:nth-child(1)>img { /* ui 속에 li */
    width : 100%;
    height: 00%;
    border-radius: 15px;
}