.wrap1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: red;
  display: none;
}

.text {
  position: absolute;
  top: 300px;
  left: 30%;
  /* transform: translateX(-50%); */
  font-size: 5rem;
  font-family: Black Han Sans;
  justify-content: center;
  display: flex;
  width: 1000px;
  height: 200px;
}
.text li {
  width: 200px;
  height: 200px;
  border: 1px solid blue;
  text-align: center;
  line-height: 200px;
}

.text > li:nth-child(1) {
  left: 0px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
}

@keyframes text1_ani {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.text > li:nth-child(2) {
  left: 200px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.text > li:nth-child(3) {
  left: 400px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.text > li:nth-child(4) {
  left: 600px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.text > li:nth-child(5) {
  left: 700px;
  animation: text1_ani 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.skip {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  cursor: pointer;
  animation: skip_ani 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes skip_ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skip:hover {
  color: red;
}

.wrap2 {
  width: 100%;
  position: absolute;
  height: 50px;
  border: 1px solid black;
  background: yellow;
}
.wrap2 > nav {
  display: flex;
}
.wrap2 > nav > div {
  width: 50%;
  height: 50%;
}

.wrap2 > nav > div:nth-child(1) {
  text-indent: 10%;
}

.wrap2 > nav > div:nth-child(2) {
  padding-right: 10%;
  text-indent: 10%;
}

.wrap2 > .at0 {
  width: 100%;
  height: 500px;
  /*  */
  background: white;
  /*  */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.at0 > div {
  width: 50%;
  border: black solid;
  padding-top: 100px;
  padding-left: 100px;
}
.at0 > div > p {
  border: 1px solid red;
}
.at0 > div > p:nth-child(1) {
  font-family: black han sans;
  font-size: 3rem;
  letter-spacing: 5px;
}
.at0 > div > p:nth-child(2) {
}

.at0 > div > div {
  width: 100%;
  height: 300px;
  border: 1px solid red;
  background: lightcoral;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 100px;
  color: white;
  font-size: 2rem;
  font-family: black han sans;
}
.at1 {
  position: relative;
  top: -200px;
  left: 0;
  width: 70%;
  border: red solid 0px;
  overflow: hidden;
}
.at1:hover:after {
  left: 70%;
}
.at1:after {
  /* 가상요소: tag를 넣지 않고 스타일에서 태그를 가상으로 생성해내는것을 가상요소 */
  content: "zzzzzzzzzzzzzzzzz";
  color: white;
  text-align: center;
  line-height: 300px;
  font-size: 2rem;
  width: 30%; /**부모의 30% **/
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 50%;
}
.at1 > img {
  width: 100%;
}
