.big{
  position:fixed;
  top : 0; left:0;
  height:100%;
  width:100%;
  background : url(../img/big6.jpg);
  background-size: 100% 100%;
  transition : scale(1.1);
  animation: big_ani 3s;
  animation-fill-mode: forwards;
}

@keyframes big_ani{
  0% { transition : scale(1.1);}
  100% { transition : scale(1);}
}

nav{
  position : absolute;top : 0; left : 0;
  width:100%;
  height: 100px;
  color:white;
  font-size:2rem;
  line-height: 100px;
  border : 1px solid white;
  text-align: right;
  padding-right:100px;
  background: green;

}