.big {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
    background: url(../img/big6.jpg);
    background-size: 100% 100%;
    transform: scale(1.1);
    animation: big_ani 3s;
    animation-fill-mode: forwards;
}
@keyframes big_ani {
    0% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
nav {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100px;
    color: white;
    font-size: 2rem;
    line-height: 100px; text-align: right;
    padding-right: 100px;
    background: green;
}