
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
html {
    scroll-behavior: smooth;
}

