
/* 모바일에서 삼선바 오버 시 오른쪽메뉴 숨김 */
nav> div:nth-child(2)> .menu> .left> div {
    width: 40%;
}
nav> div:nth-child(2)> .menu> .left> div> p {
    background: #f2f2f2;
    text-align: center;
}
nav> div:nth-child(2)> .menu> .left> div> div {
    text-align: left; font-size: 1.2rem;
    height: 30px; line-height: 30px;
}
nav> div:nth-child(2)> .menu> .right {
    display: none;
}
