.fixed {
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%;
}
.fixed img {
    width: 100%;    
}
.layout {    
    position: relative ; top: 0; left: 0;    
    width: 100%;    color: white;
}
article {
    position: relative; top: 0; left: 0;
    z-index: 11;
    width: 100%; height: 1250px;
    padding-top: 80px;
}
.at0 {
    position: fixed; top: 0; left: 0;
    z-index: 10;
    padding-top: 0px;
}
.at1 {
    z-index: 100;
    /* background: rgba(240, 228, 160, 0.5); */
}
.at2 {
    background: rgba(129, 181, 230, 0.5);
}
.at3 {
    background: rgba(233, 132, 140, 0.5);
}
.at4 {
    background: rgba(202, 135, 247, 0.5);
}
.at0> nav {
    width: 100%; height: 100px;
    display: flex; flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.at0> nav> div {
    width: 10%; height: 50px;
    border: 0px solid white;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    opacity: 0.7;
}
.at0> nav> div:first-child {
    font-size: 2.5rem;
    width: 15%; height: 70px;
    line-height: 70px;
    margin-right: 15%;
}
.at0> nav> div:hover {
    font-weight: bold;
    opacity: 1;
}
.at0> nav> div> a {
    display: block;
    width: 100%; height: 100%;
    color: white;
}
.at9 {
    position: relative; top: 0; left: 0;
    border: 0px solid red;
}

.at9> .at9_msg {
    width: 20%; height: 70px;
    margin: 0 auto;
    margin-top: 300px;
    border: 0px solid white;
    text-align: center;
    line-height: 70px;
    font-size: 2rem;
}

.at9> .at9_number {
    width: 20%; height: 70px;
    margin: 0 auto;
    text-align: center; line-height: 70px;
    font-size: 5rem; color: yellow;
    font-family:Black Han Sans;
    letter-spacing: 10px;
}
.at9> .at9_number> small {
    font-size: 2rem;
}
.at1 {
    
}
/* 온라인 쇼핑몰 */
.at1> .at1_box {
    width: 100%; height: 600px;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;
}
.at1> .at1_box li {
    width: 50%; height: 100%;
    border: 0px solid red;
    color: black;
}
.at1> .at1_box .left {
    background: white;
}
/* 아티클-1 속 위쪽에 있는 큰 그림  */
.at1> .at1_box .left> .at1_big {
    width: 300px; height: 400px;
    border: 0px solid #ccc;
    margin-top: 50px;
    margin-left: 50px;
}
.at1> .at1_box .left> .at1_big> img {
    width: 100%; height: 100%;
}
/* 아티클-1 속 위쪽에 있는 좌우 버튼  */
.at1> .at1_box .left> .at1_btn {
    width: 300px; height: 30px;
    border: 0px solid red;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.at1> .at1_box .left> .at1_btn> li {
    width: 80px; height: 100%;
    border: 1px solid green;
    text-align: center;
    line-height: 30px;
    font-size: 1.3rem;
    cursor: pointer;
}

.at1> .at1_box :right {
    background: none;
}

